# LLAMA_ARG_N_PARALLEL: Number of parallel sequences to process
LLAMA_ARG_N_PARALLEL="5"

# LLAMA_ARG_CTX_SIZE: Context size for the model
LLAMA_ARG_CTX_SIZE="4096"

# LLAMA_ARG_THREADS: Number of threads to use
LLAMA_ARG_THREADS="32"

# LLAMA_CPP_IMAGE: The docker image for llama.cpp server
LLAMA_CPP_IMAGE="amperecomputingai/llama.cpp:3.4.2"

# HF_REPO: Hugging Face repository for the model
HF_REPO_1="AmpereComputing/llama-3.2-1b-instruct-gguf"
HF_FILE_1="Llama-3.2-1B-Instruct-Q4_K_4.gguf"

HF_REPO_2="AmpereComputing/llama-3.2-1b-instruct-gguf"
HF_FILE_2="Llama-3.2-1B-Instruct-Q4_K_4.gguf"

HF_REPO_3="AmpereComputing/llama-3.2-1b-instruct-gguf"
HF_FILE_3="Llama-3.2-1B-Instruct-Q4_K_4.gguf"

HF_REPO_4="AmpereComputing/llama-3.2-1b-instruct-gguf"
HF_FILE_4="Llama-3.2-1B-Instruct-Q4_K_4.gguf"
